@font-face {
	font-family: 'roboto_regular';
	src: url('../fonts/RobotoTTF/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'roboto_bold';
	src: url('../fonts/RobotoTTF/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'roboto_medium';
	src: url('../fonts/RobotoTTF/Roboto-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'alegreyasans_bold';
	src: url('../fonts/alegreya-sans-ht-full-pack-ttf/AlegreyaSans-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

